<!DOCTYPE html>
<html lang="en">

<head>
  <title>APP-SEGURA</title>
  <link rel="shortcut icon" href="../img/logo.jpg" />
  <meta name="google" content="notranslate" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="../css/Estilos.css" rel="stylesheet" />

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container shadow bg-info-subtle m-5 border border-primary-subtle border-5 rounded-5 col-lg-4 mx-auto ">
      <div class="container shadow bg-white border rounded-5 rounded-bottom-circle">
        <div class="col">
          <div class="col">
            <div class="row p-5">
              <div class="col-4">
                <img src="../img/logo.jpg" alt="" class="img-fluid rounded-circle shadow p-1 mb-2 bg-body-secondary" />
                <!-- notice the "circle" class -->
              </div>

              <div class="col-8">
                <h3 class="card-title p-3">APP-SEGURA</h3>
                <p class="card-text">CONTACTENOS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5 justify-content-end ">
        <div class="col-8">
          <img src="../img/contacto.gif" alt="" class="img-fluid  " />
        </div>

        <div class="col-2 mx-2 ">
          <a href="contacto.html" class="btn-group me-2 btn-outline-primary">
            <i
              class="large material-icons img-fluid rounded-circle shadow p-1 mb-2 bg-body-secondary">contact_support</i></a>
        </div>
      </div>

      <!-- una fila con una sola columna centrada -->

      <div class="row justify-content-center ">
        <a href="http://wa.link/yawf2c"
          class="btn btn-floating col-10 mx-auto border border-4 rounded-5 border-success m-3 p-2 d-flex "
          role="button">
          <img src="../img/numero 2.png" class="img-fluid mr-2" alt="Imagen" style="max-height: 50px;">
        </a>
      </div>

      <!-- una fila con una sola columna centrada -->
      <div class="row justify-content-center ">
        <a href="tel://3172667026"
          class="btn btn-floating col-10 mx-auto border border-4 rounded-5 border-success m-3 p-2 d-flex "
          role="button">
          <img src="../img/diego.png" class="img-fluid mr-2" alt="Imagen" style="max-height: 50px;">
        </a>
      </div>

      <div class="row justify-content-center ">
        <a href="mailto:diegosabogal148@gmail.com?cc=pro.pedro@gmail.com&bcc=camilamroldan@gmail.com&subject=informacion%20APP-SEGURA"
          class="btn btn-floating col-10 mx-auto border border-4 rounded-5 border-success m-3 p-2 d-flex "
          role="button">
          <img src="../img/mail.png" class="img-fluid mr-2" alt="Imagen" style="max-height: 50px;">
        </a>
      </div>


      <!-- una fila con una sola columna centrada -->
      <div class="row text-left">
        <div class="col-4 mx-auto">
          <!-- <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="check"
                />
                <label class="form-check-label" for="check"> Recordarme </label>
              </div> -->
        </div>
      </div>
      <!-- una fila con una sola columna centrada -->
      <div class="row">
        <div class="col d-grid col-md-4 mx-auto  g-3">
          <!-- <button type="submit" class="btn btn-outline-primary">
                Iniciar Sesion
              </button> -->
        </div>
      </div>







      <div class="container shadow bg-white border rounded-5 rounded-top-circle">
        <div class="col">
          <div class="col">
            <div class="row p-5  mx-auto mb-2 justify-content-center">

              <div class="col-2  mx-2 justify-content-center">
                <a href="index.html" class="btn btn-outline-secundary">
                  <i class="large material-icons img-fluid rounded-circle shadow p-1 mb-2 bg-body-secondary">home</i>
                </a>
              </div>
              <div class="col-2  mx-2 justify-content-center">
                <a href="formRegistro.html" class="btn btn-outline-secundary">
                  <i
                    class="large material-icons img-fluid rounded-circle shadow p-1 mb-2 bg-body-secondary">how_to_reg</i>
                </a>
              </div>
              <div class="col-2  mx-2 justify-content-center">
                <a href="verificarLink.html" class="btn btn-outline-secundary">
                  <i class="large material-icons img-fluid rounded-circle shadow p-1 mb-2 bg-body-secondary">link</i>
                </a>
              </div>
              <div class="col-2 mx-2 justify-content-center">
                <a href="ajustes.html" class=" btn btn-outline-primary">
                  <i
                    class="large material-icons img-fluid rounded-circle shadow p-1 mb-2 bg-body-secondary">settings</i>

                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
  </main>

  <footer>
    <!-- place footer here -->
  </footer>
  <script src="../js/externalScripts.js"></script>
</body>

</html>